.profile__page {
    width: center;
    display: flex;
    justify-content: center;
}

.profile__content {
    width: 1300px;
    display: flex;
    justify-content: center;
}

.profile__info {
    width: 200px;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.messages__link {
    float: left;
    color: rgba(0, 0, 0, 0.65);
}

.profile__avatar img {
    border-radius: 50%;
    max-width: 250px;
}
