.users__page {
    display: flex;
    justify-content: center;
}

.users {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    min-width: 800px;
}

.user__item {
    display: flex;
    padding: 15px;
    border: 2px solid #40a9ff;
    border-radius: 16px;
    margin-top: 15px;
    align-items: center;
    position: relative;
}

.user__item img {
    border-radius: 50%;
    max-width: 32px;
}